doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Node Basics
        style @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
        block style
    body 
        header.header 
            nav.container 
                .main-header
                    .logo 
                        a(href="/api/v1/home")  Logo
                    ul.nav 
                        li.nav-item 
                            a.nav-link(href="/api/v1/multer") Multer
        section
            .container
                block bodyContent