extends ../layouts/mainLayout.pug

block style 
    link(rel="stylesheet", href="/common.css")
    link(rel="stylesheet", href="/multer.css")
block bodyContent
    .multer-content
        form.uploadForm(action="/api/v1/uploadFile" method="post" enctype="multipart/form-data")
            .form-control.upload-file 
                input(type="file" name="document" id="file") 
                label.file-label(for="file") Choose File
            button.btn Submit