/* COMMON STYLING */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}

.container:not(.header .container) {
  padding: 50px;
}

section .container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  background-color: #fffffff1;
}

/* HEADER STYLING */

.header {
  background-color: #0b7285;
  box-shadow: 0px 3px 18px #00000040;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo a,
.nav-link {
  display: block;
  text-decoration: none;
  padding: 20px 25px;
  color: #fff;
}

.nav-link:active,
.nav-link:hover {
  background-color: #f8f9fa;
  color: #000;
}

/* FORM STYLING */

.btn,
.btn:active,
.btn:focus {
  margin: 0;
  padding: 12px 30px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #1098ad;
  color: #fff;
  box-shadow: 2px 3px 5px #0000004e;
}

.btn:hover {
  box-shadow: 0.6px 2.3px 5px #0000002b;
}
