.multer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.image-container {
  /* padding: 20px; */
  border-radius: 10px;
  border: 1px solid #00000093;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 500px;
  height: 300px;
}

.image-container img {
  width: 100px;
  height: 100px;
  display: block;
}

.uploadForm {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 500px;
  justify-content: space-between;
}

.upload-file {
  position: relative;
  width: 70%;
}

.file-label {
  position: absolute;
  padding: 13.5px 15px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #1098ad;
  color: #fff;
  left: 0;
  font-size: 12px;
  top: 0;
  border: 1px solid #000;
}

label {
  margin-right: 10px;
}

input {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  width: 100%;
}
